lazypoot
*.exe
*.out
*.bin
*.app
*.apk

/bin/
/dist/
/build/
/release/
/target/

*.test
*.prof
*.trace
*.cover
coverage.out

vendor/

.env
.env.*
*.env
config.local.*
*.secret
*.key
*.pem

*.log
logs/
log/

*.tmp
*.swp
*.swo
*.bak
*.old
*~

.DS_Store
Thumbs.db
desktop.ini

*.snap
*.flatpak
*.AppImage

*.shada
*.viminfo
.nvimlog
.vim/

*.zip
*.tar
*.tar.gz
*.rar

.vscode/
.idea/
*.iml

.docker/
docker-compose.override.yml

testdata/out/
testdata/tmp/

$GOPATH/pkg/
$GOPATH/bin/

*.pid
*.lock
*.sqlite
*.db

.ui-state/
.cache/

core
core.*

 lazypoot
